<form method="post" action="/storage" enctype="multipart/form-data">
  
    <div class="card-body">
        <h5 class="card-title">Registre al nuevo empleado: </h5>

       <p class="card-text">
        <div class="form-group">
            <label for="">Nombre:</label>
            <input type="text" name="nombreValue" id="nombreValue">

        </div>
         <div class="form-group">
            <label for="">Email:</label>
            <input type="text" name="emailValue" id="emailValue">

         </div>
          <div class="form-group">
            <label for="">Imagen:</label>
            <input type="file" name="fileValue" id="fileValue">

          </div>
          
       </p>
       <button type="submit" class="btn btn-success">Enviar</button>
    </div>
       
</form>